@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
.el-col-12 {
    width: 15%;
    min-width: 100px;

    height: 100%;
    
}
.el-submenu .el-menu-item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 50px;
}

html{
height: 100%;
}




.el-table td, .el-table th {
    min-width: 0px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align:center;
    padding: 12px 12px 20px 20px;
    
}

.invisiable1{
    height: 50px;
    width: 80%;
    visibility:hidden
}