<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boge.pibackend.dao.BridgetowerdataMapper">
  <resultMap id="BaseResultMap" type="com.boge.pibackend.entity.Bridgetowerdata">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="temperature" jdbcType="DOUBLE" property="temperature" />
    <result column="humidity" jdbcType="DOUBLE" property="humidity" />
    <result column="air_pressure" jdbcType="DOUBLE" property="air_pressure" />
    <result column="tilter_aline" jdbcType="DOUBLE" property="tilter_aline" />
    <result column="tilter_vertical" jdbcType="DOUBLE" property="tilter_vertical" />
    <result column="risk_level" jdbcType="INTEGER" property="risk_level" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bridgetowerdata
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.boge.pibackend.entity.Bridgetowerdata">
    insert into bridgetowerdata (id, `time`, temperature, 
      humidity, air_pressure, tilter_aline, 
      tilter_vertical, risk_level)
    values (#{id,jdbcType=BIGINT}, #{time,jdbcType=VARCHAR}, #{temperature,jdbcType=DOUBLE}, 
      #{humidity,jdbcType=DOUBLE}, #{air_pressure,jdbcType=DOUBLE}, #{tilter_aline,jdbcType=DOUBLE}, 
      #{tilter_vertical,jdbcType=DOUBLE}, #{risk_level,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.boge.pibackend.entity.Bridgetowerdata">
    update bridgetowerdata
    set `time` = #{time,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=DOUBLE},
      humidity = #{humidity,jdbcType=DOUBLE},
      air_pressure = #{air_pressure,jdbcType=DOUBLE},
      tilter_aline = #{tilter_aline,jdbcType=DOUBLE},
      tilter_vertical = #{tilter_vertical,jdbcType=DOUBLE},
      risk_level = #{risk_level,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `time`, temperature, humidity, air_pressure, tilter_aline, tilter_vertical, 
    risk_level
    from bridgetowerdata
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `time`, temperature, humidity, air_pressure, tilter_aline, tilter_vertical, 
    risk_level
    from bridgetowerdata
  </select>

  <select id="selectTen" resultMap="BaseResultMap">
    select * from bridgetowerdata order by id desc limit 10
  </select>
</mapper>