<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boge.pibackend.dao.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.boge.pibackend.entity.Device">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="bridge_id" jdbcType="BIGINT" property="bridge_id" />
    <result column="bridge" jdbcType="VARCHAR" property="bridge" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="reserved" jdbcType="VARCHAR" property="reserved" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from device
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.boge.pibackend.entity.Device">
    insert into device (id, `type`, `date`, `location`, 
      bridge_id, bridge, user_id, 
      `status`, reserved)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{location,jdbcType=VARCHAR}, 
      #{bridge_id,jdbcType=BIGINT}, #{bridge,jdbcType=VARCHAR}, #{user_id,jdbcType=BIGINT},
      #{status,jdbcType=INTEGER}, #{reserved,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.boge.pibackend.entity.Device">
    update device
    set `type` = #{type,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=DATE},
      `location` = #{location,jdbcType=VARCHAR},
      bridge_id = #{bridge_id,jdbcType=BIGINT},
      bridge = #{bridge,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      reserved = #{reserved,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `type`, `date`, `location`, bridge_id, bridge, user_id, `status`, reserved
    from device
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `type`, `date`, `location`, bridge_id, bridge, user_id, `status`, reserved
    from device
  </select>
</mapper>