<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boge.pibackend.dao.DataMapper">
  <resultMap id="BaseResultMap" type="com.boge.pibackend.entity.Data">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="temperature" jdbcType="DOUBLE" property="temperature" />
    <result column="humidity" jdbcType="DOUBLE" property="humidity" />
    <result column="pressure" jdbcType="DOUBLE" property="pressure" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="acc_x" jdbcType="DOUBLE" property="acc_x" />
    <result column="acc_y" jdbcType="DOUBLE" property="acc_y" />
    <result column="acc_z" jdbcType="DOUBLE" property="acc_z" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.boge.pibackend.entity.Data">
    insert into data (id, temperature, humidity, 
      pressure, `time`, acc_x, 
      acc_y, acc_z)
    values (#{id,jdbcType=BIGINT}, #{temperature,jdbcType=DOUBLE}, #{humidity,jdbcType=DOUBLE}, 
      #{pressure,jdbcType=DOUBLE}, #{time,jdbcType=VARCHAR}, #{acc_x,jdbcType=DOUBLE}, 
      #{acc_y,jdbcType=DOUBLE}, #{acc_z,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.boge.pibackend.entity.Data">
    update data
    set temperature = #{temperature,jdbcType=DOUBLE},
      humidity = #{humidity,jdbcType=DOUBLE},
      pressure = #{pressure,jdbcType=DOUBLE},
      `time` = #{time,jdbcType=VARCHAR},
      acc_x = #{acc_x,jdbcType=DOUBLE},
      acc_y = #{acc_y,jdbcType=DOUBLE},
      acc_z = #{acc_z,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, temperature, humidity, pressure, `time`, acc_x, acc_y, acc_z
    from data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, temperature, humidity, pressure, `time`, acc_x, acc_y, acc_z
    from data
  </select>

  <select id="selectTen" resultMap="BaseResultMap">
    select * from data order by id desc limit 10
  </select>

</mapper>