<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bridge Health Monitoring</title>
<script src="vue.js"></script>
<script src="axios.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/Nav.css">
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.15.1/lib/index.js"></script>
<script src="lib/echarts.min.js"></script>
</head>
<body>
  <div id="app" style="height: 100%;">
    
    
    


    <el-col :span="12" style="height: 100%;">
      
      <el-menu
        default-active="1"
        class="el-menu-vertical-demo"
        @open="handleOpen"
        @close="handleClose">

        <el-menu-item index="1" v-on:click="switch_page(1)">
          <i class="el-icon-menu"></i>
          <span slot="title">Overall Monitoring</span>
        </el-menu-item>

        <el-menu-item index="2" v-on:click="switch_page(2)">
          <i class="el-icon-document"></i>
          <span slot="title">Temperature Monitoring</span>
        </el-menu-item>
        <el-menu-item index="3" v-on:click="switch_page(3)">
          <i class="el-icon-setting"></i>
          <span slot="title">Humidity Monitoring</span>
        </el-menu-item>

        <el-menu-item index="4" v-on:click="switch_page(4)">
          <i class="el-icon-setting"></i>
          <span slot="title">Pressure Monitoring</span>
        </el-menu-item>

        <el-menu-item index="5" v-on:click="switch_page(5)">
          <i class="el-icon-setting"></i>
          <span slot="title">Acc Monitoring</span>
        </el-menu-item>

      </el-menu>
    </el-col>
    

    <div class="invisiable1"></div>
    <el-table v-if="this.sub_page[0]==-1"
    v-bind:data="tableData"
      style="width: 80%">
      <el-table-column
        prop="temperature"
        label="temperature"
        width="180">
      </el-table-column>
      <el-table-column
        prop="humidity"
        label="humidity"
        width="180">
      </el-table-column>
      <el-table-column
        prop="pressure"
        label="pressure">
      </el-table-column>
      <el-table-column
      prop="time"
      label="time">
    </el-table-column>
      <el-table-column
        prop="acc_x"
        label="acc_x">
      </el-table-column>
      <el-table-column
        prop="acc_y"
        label="acc_y">
      </el-table-column>      
      <el-table-column
        prop="acc_z"
        label="acc_z">
      </el-table-column>   
    </el-table>


    

    <img src="/img/chart_t.png" v-if="this.sub_page[0]==0">
    <img src="/img/chart_h.png" v-if="this.sub_page[0]==1">
    <img src="/img/chart_p.png" v-if="this.sub_page[0]==2">
    <img src="/img/chart_a.png" v-if="this.sub_page[0]==3">


  <script type="module" src="./js/main.js"></script>
  </div>
  
  
</body>
</html>