<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boge.pibackend.dao.BridgeMapper">
  <resultMap id="BaseResultMap" type="com.boge.pibackend.entity.Bridge">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="reserved" jdbcType="VARCHAR" property="reserved" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bridge
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.boge.pibackend.entity.Bridge">
    insert into bridge (id, `name`, `type`, 
      `location`, `status`, `date`, 
      reserved, description)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{date,jdbcType=DATE}, 
      #{reserved,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.boge.pibackend.entity.Bridge">
    update bridge
    set `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      `location` = #{location,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      `date` = #{date,jdbcType=DATE},
      reserved = #{reserved,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `name`, `type`, `location`, `status`, `date`, reserved, description
    from bridge
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, `type`, `location`, `status`, `date`, reserved, description
    from bridge
  </select>
</mapper>